# Exercise 1: IMDB Top 1000

Thanks to [@justmarkham](http://github.com/justmarkham) for providing the `imdb_1000.csv` dataset.

### 0. Activate Autosave

In [1]:
%autosave 15

Autosaving every 15 seconds

### 1. Import the necessary modules

In [2]:
import pandas as pd

### 2. Use `pandas` to download the [`imdb_1000.csv` dataset from here](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/imdb_1000.csv) and store it in a variable called `movies`

In [3]:
movies = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/imdb_1000.csv")

### 3. Checkout the first few entries of the dataset

In [4]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

### 4. What are actually the dimensions of the dataset?

In [5]:
movies.shape

(979, 6)

### 5. What is the number of observations in the dataset?

In [6]:
movies.shape[0]

979

### 6. What is the number of columns in the dataset?

In [7]:
movies.shape[1]

6

### 7. Print the name of all columns

In [8]:
movies.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

### 8. What is the type of the `duration` column?

In [9]:
movies["duration"].dtype

dtype('int64')

### 9. Which movie has actually the lowest star rating?
_Hint_: Checkout [`pandas.Series.idxmin`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.idxmin.html) and/or [`pandas.DataFrame.idxmin`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.idxmin.html)

In [10]:
index_lowest_rated_movie = movies["star_rating"].idxmin()
index_lowest_rated_movie

930

In [11]:
lowest_rated_movie = movies.iloc[index_lowest_rated_movie]

### 10. Which movie has actually the highest star rating?

In [12]:
highest_rated_movie = movies.iloc[movies["star_rating"].idxmax()]
highest_rated_movie

star_rating                                                     9.3
title                                      The Shawshank Redemption
content_rating                                                    R
genre                                                         Crime
duration                                                        142
actors_list       [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
Name: 0, dtype: object

### 11. How many movies have actually a star rating of `8.0`?

In [13]:
pd.value_counts(movies.star_rating == 8.0)[True]

97

### 12. How many movies have actually the same star rating as the lowest rated movie?

In [14]:
lowest_rated_movies = movies[movies["star_rating"] == lowest_rated_movie["star_rating"]]
lowest_rated_movies.shape[0]

49

### 12.1 From the list of lowest rated movies select the movie with the smallest duration

In [15]:
movies.iloc[lowest_rated_movies["duration"].idxmin()]

star_rating                                                     7.4
title                                           Alice in Wonderland
content_rating                                                    G
genre                                                     Animation
duration                                                         75
actors_list       [u'Kathryn Beaumont', u'Ed Wynn', u'Richard Ha...
Name: 938, dtype: object